/* Our CSS file. */


.container{
    width: 100%;
    height: 600;
    border: .5px solid black;
    background-color :rgb(187, 182, 182)
    }
     .row{
         display : block;
         width : 100%;
         height :300px;
     }
     .col{
         display: block;
         width : 49%;
         border: 1px solid lightgray;
         height : inherit;
         float : left;
     }
     h1{
         text-align:center ;
         }
         